<!DOCTYPE html>
<html lang="en">

<head>

    {{> head}}

    <link rel="stylesheet" href="/assets/less/dist/home.css">
</head>

<body>

    {{> loader}}
    {{> nav}}
    {{> header}}

    <div class="inner-body">

        <div id="home-page">
            {{> home-astro}}

            {{> home-crm}}


            {{#if data.home.businessNavigator.visible }}
            <div class="double-block" data-aos-duration="700" data-aos="fade-in">
                <div class="block pic">
                    <img src="/assets/svg/29.svg" alt="" class="full-pic">
                    <a href="" class="more primary"></a>
                </div>
                <div class="block text">

                    <div class="subtitle">
                        {{ data.home.businessNavigator.subtitle }}
                    </div>
                    <p>
                        {{ data.home.businessNavigator.p }}
                    </p>
                    <a href="" class="more secondary"></a>

                </div>
            </div>

            {{/if}}

            {{#if data.home.communicationChannelEngineering.visible }}
            <div class="double-block" data-aos-duration="700" data-aos="fade-in">

                <div class="block text">

                    <div class="subtitle">
                        {{data.home.communicationChannelEngineering.subtitle}}
                    </div>
                    <p>
                        {{data.home.communicationChannelEngineering.p}}
                    </p>
                    <a href="" class="more secondary"></a>

                </div>

                <div class="block pic">
                    <img src="/assets/svg/34.svg" alt="" class="full-pic">
                </div>

            </div>
            {{/if}}



            <img src="/assets/svg/35.svg" alt="" data-aos-duration="500" data-aos="fade-in" data-aos-delay="500" class="banner">



            {{#if data.home.toolForDigitalMarketing.visible }}

            <div class="double-block has-fixed" data-aos-duration="500" data-aos="fade-in" data-aos-delay="500">


                <div class="block pic fixed-left">
                    <img src="/assets/svg/36.svg" alt="" class="full-pic">

                </div>
                <div class="block text static-right">
                    <div class="subtitle">
                        {{data.home.toolForDigitalMarketing.subtitle}}

                    </div>
                    <p>
                        {{data.home.toolForDigitalMarketing.p}}

                    </p>

                </div>

            </div>
            {{/if}}

            {{> home-advantages}}

            {{> home-technologies}}


            {{#if data.home.serendipIsAlwaysFree.visible }}

            <div class="double-block" data-aos-duration="700" data-aos="fade-in">
                <div class="block pic">
                    <img src="/assets/svg/74.svg" alt="" class="full-pic">
                </div>
                <div class="block text">
                    <div class="subtitle">
                        {{data.home.serendipIsAlwaysFree.subtitle}}
                    </div>
                    <p>
                        {{data.home.serendipIsAlwaysFree.p}}
                    </p>

                    <a href="" class="start primary"></a>
                </div>

            </div>
            {{/if}}

            {{#if data.home.offlineFirst.visible }}
            <div class="double-block" data-aos-duration="700" data-aos="fade-in">
                <div class="block text">
                    <div class="subtitle">
                        {{unsafe data.home.offlineFirst.subtitle}}
                    </div>
                    <p>
                        {{data.home.offlineFirst.p}}
                    </p>
                    <a href="" class="more primary"></a>
                </div>
                <div class="block pic">
                    <img src="/assets/svg/77.svg" alt="" class="full-pic">
                </div>
            </div>
            {{/if}}

            {{#if data.home.MobileFirst.visible }}
            <div class="double-block" data-aos-duration="700" data-aos="fade-in">
                <div class="block pic">
                    <img src="/assets/svg/80.svg" alt="" class="full-pic">
                </div>
                <div class="block text">
                    <div class="subtitle">
                        {{data.home.MobileFirst.subtitle}}
                    </div>
                    <p>
                        {{data.home.MobileFirst.p}}
                    </p>
                    <a href="" class="more primary"></a>
                </div>
            </div>
            {{/if}}

            {{#if data.home.customizeForYourBusiness.visible }}
            <div class="double-block" data-aos-duration="700" data-aos="fade-in">
                <div class="block text">
                    <div class="subtitle">
                        {{data.home.customizeForYourBusiness.subtitle}}
                    </div>
                    <p>
                        {{data.home.customizeForYourBusiness.p}} </p>
                </div>
                <div class="block pic">
                    <img src="/assets/svg/83.svg" alt="" class="full-pic">
                </div>
            </div>
            {{/if}}

            {{#if data.home.twoFactorAuth.visible }}
            <div class="double-block" data-aos-duration="700" data-aos="fade-in">
                <div class="block text">
                    <div class="subtitle">
                        {{data.home.twoFactorAuth.subtitle}}

                    </div>
                    <p>

                        {{data.home.twoFactorAuth.p}}
                    </p>

                </div>
                <div class="block pic ">
                    <img src="/assets/svg/84.svg" alt="" class="full-pic">
                </div>
            </div>
            {{/if}}

            {{#if data.home.thirdPartyIntegration.visible }}
            <div class="double-block" data-aos-duration="700" data-aos="fade-in">
                <div class="block pic">
                    <img src="/assets/svg/85.svg" alt="" class="full-pic">
                </div>
                <div class="block text">
                    <div class="subtitle">
                        {{data.home.thirdPartyIntegration.subtitle}}
                    </div>
                    <p>
                        {{data.home.thirdPartyIntegration.p}} </p>
                </div>
            </div>
            {{/if}}
            {{#if data.home.googleMaps.visible }}

            <div class="double-block" data-aos-duration="700" data-aos="fade-in">


                <div class="block text">
                    <div class="subtitle">
                        {{data.home.googleMaps.subtitle}}
                    </div>
                    <p>
                        {{data.home.googleMaps.p}} </p>
                </div>


                <div class="block pic">
                    <img src="/assets/svg/86.svg" alt="" class="full-pic">
                </div>
            </div>
            {{/if}}

            {{> newsletter}}




        </div>



        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>