<footer id="footer">

    <div class="container">


        <div class="blocks">
            <div class="block">

                <div class="subtitle">
                    {{data.home.astro.subtitle}}
                </div>
                <p>
                    {{data.home.astro.p}}

                </p>

                <a class="button">
                    {{data.home.astro.button}}
                </a>

            </div>

            <div class="block">
                <div class="subtitle">

                    {{ data.newsletter.title}}
                </div>

                <p>
                    {{ data.newsletter.p}}
                </p>
                <input type="email" name="email" dir="ltr" class="en" autocomplete="email" placeholder="{{data.newsletter.inputPlaceholder}}">

                <button type="submit">
                    {{ data.newsletter.buttonText}}
                </button>
            </div>


            <div class="block">
                <div class="subtitle">

                    {{ data.requestContact.title}}
                </div>

                <p>
                    {{ data.requestContact.p}}
                </p>
                <input type="email" name="email" dir="ltr" class="en" autocomplete="email" placeholder="{{data.requestContact.inputPlaceholder}}">

                <button type="submit">
                    {{ data.requestContact.buttonText}}
                </button>
            </div>


        </div>
        <div class="links">
            <div class="subtitle">
                {{ data.footer.linksTitle}}
            </div>
            <ul>
                {{#each data.footer.links}}
                <li>
                    <a target="_blank" href="{{link}}">{{unsafe text}}</a>
                </li>


                {{/each}}
            </ul>
        </div>

        <div class="clearfix"></div>
        <div class="socials">
            <a href="">
            {{> svg-101}}
            </a>
            <a href="">
            {{> svg-102}}

            </a>
            <a href="">
            {{> svg-103}}

            </a>
            <a href="">
            {{> svg-104}}

            </a>
            <a href="">
            {{> svg-105}}

            </a>
        </div>

        <div class="clearfix"></div>


        <div class="copyleft">
        <p class="en">
            <span class="flip">
                ©
            </span>
            <a href="https://en.wikipedia.org/wiki/Copyleft">Copyleft</a> 2018 Serendip Agency.
        </p>
    </div>
    </div>

</footer>