<div id="home-crm" >
 
{{#if data.home.crmKeyPoints.visible}}

    <h1 class="title" data-aos-duration="1000" data-aos="fade-in" data-aos-delay="500">
        {{ data.home.crmKeyPoints.title}}
    </h1>

    <div class="blocks" data-aos-duration="1000" data-aos="fade-in" data-aos-delay="700" >
        {{#each data.home.crmKeyPoints.blocks}}

        <div class="block" >
            <div class="icon">
                <img src="/assets/svg/{{icon}}.svg">
            </div>
            <h2 class="subtitle">
                {{unsafe subtitle}}
            </h2>
            <p>
                {{unsafe p}}
            </p>
        </div>

        {{/each}}

    </div>
{{/if}}

{{#if data.home.crmKeyPoints.banner.visible}}
<img src="/assets/svg/{{data.home.crmKeyPoints.banner.number}}.svg" alt="" class="banner" data-aos-duration="1000" data-aos="fade-in" data-aos-delay="1000">
{{/if}}

</div>

