<div id="newsletter">

    <div class="container">
        <form>
            <div class="title">


                {{ data.newsletter.title}}
            </div>

            <p>
                {{ data.newsletter.p}}
            </p>

            <div class="input-submit">
                <input type="email" dir="ltr" class="en" autocomplete="email" name="email" placeholder="{{data.newsletter.inputPlaceholder}}">
                <button type="submit">
                    {{ data.newsletter.buttonText}}
                </button>
                <div class="clearfix"></div>
            </div>

            <p class="note">
                {{ data.newsletter.note}}
                <span class="en"> {{ data.newsletter.noteEmail}}</span>

            </p>

        </form>
        <div class="clearfix"></div>
    </div>
</div>