<div id="newsletter">

    <div class="form">
        <div class="title">


            {{ data.newsletter.title}}
        </div>

        <p>
            {{ data.newsletter.p}}
        </p>

        <div class="input-submit">
            <input type="email" name="email" placeholder="{{data.newsletter.inputPlaceholder}}">
            <button type="submit">
                {{ data.newsletter.buttonText}}
            </button>
        </div>

        <p class="note">
            {{ data.newsletter.note}}
            <div class="en"> {{ data.newsletter.noteEmail}}</div>

        </p>

    </div>

</div>