<!DOCTYPE html>
<html lang="en">

<head>

    {{> head}}


</head>

<body>

    {{> loader}}
    {{> nav}}
    {{> header}}



    <div class="inner-body">

        <div id="account-page">
            <div class="box">


                {{!-- <pre>
            {{~  syntaxHighlight data.req}}
</pre> --}}


                {{> account-tabs}}

                <section>

                    <div class="column">
                        <div class="title">
                            حساب
                        </div>
                        <ul>
                            <li>
                                <label for=""> تاریخ عضویت:</label>
                                <div class="en">
                                    {{ model.user.registerDate }}
                                </div>
                            </li>

                            <li>
                                <label for="">شناسه کابری:</label>
                                <div class="en">
                                    {{ data.req.user.username }}
                                </div>
                            </li>

                            <li>
                                <label for="">شناسه یکتا:</label>
                                <div class="en id">
                                    {{ data.req.user._id }}
                                </div>
                            </li>

                            <li>
                                <label for="">موبایل:</label>
                                <div class="en">
                                    {{ data.req.user.mobileCountryCode }} {{ data.req.user.mobile }}
                                </div>
                            </li>

                            <li>
                                <label for="">ایمیل:</label>
                                <div class="en">
                                    {{#if data.req.user.email}} {{ data.req.user.email }} {{/if}}

                                    {{#unless data.req.user.email}} n/a {{/unless}}
                                </div>
                            </li>

                            <li>
                                <label for="">احراز هویت دوفاکتوره:</label>
                                <div class=" ">
                                    تنظیم نشده است
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="column">
                        <div class="title">
                            کسب‌و‌کار‌ها
                        </div>
                        <ul>
                            {{#each model.businesses}}
                            <li>{{title}}
                                ({{rpd members.length}} نفر)
                            </li>
                            {{/each}}
                        </ul>
                        <hr>

                        <label for="">
                            تعداد رکورد‌ها: {{rpd model.entityCount}}
                        </label>
                    </div>



                </section>

                <div class="clear"></div>
                {{>account-buttons}}

            </div>
        </div>
        {{> svg-about-about-7}}

        {{> footer}}

    </div>




</body>
{{> scripts}}

</html>